AWS_ACCESS_KEY_ID_COMMERCIAL=
AWS_ACCESS_KEY_ID_GOVCLOUD=
AWS_REGION_COMMERCIAL=
AWS_REGION_GOVCLOUD=
AWS_SECRET_ACCESS_KEY_COMMERCIAL=
AWS_SECRET_ACCESS_KEY_GOVCLOUD=
AWS_USE_FIPS_ENDPOINT=true

BROKERPAK_UPDATES_ENABLED=true
BP_AWS_SES_DEFAULT_ZONE=
CLOUD_GOV_ENVIRONMENT=local
DB_PATH=/tmp/csb-db
DB_TYPE=sqlite3
GSB_DEBUG=false
PORT=8081
SECURITY_USER_NAME= # Use any username
SECURITY_USER_PASSWORD= # Use any random pasword
TERRAFORM_UPGRADES_ENABLED=true

CLOUD_GOV_EMAIL_NOTIFICATION_TOPIC_ARN=
CLOUD_GOV_SLACK_NOTIFICATION_TOPIC_ARN=

